body {
  padding: 32px;
  font-size: 24px;
}

.container p {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  color: blue;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}
